body {
  font-family: "Be Vietnam Pro", sans-serif;
}
/* -------------------Header---------------------- */
.header-right i {
  margin-left: 10px;
}
.header-right input {
  border-radius: 999px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ---------------------------NAV--------------------------- */
.navbar-nav .nav-item {
  margin-right: 20px; /* Khoảng cách giữa các mục */
}
.navbar-nav .dropdown-menu {
  min-width: 200px; /* Đảm bảo menu thả xuống có độ rộng tối thiểu */
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-nav .nav-item {
  text-align: center;
}
.navbar-nav .nav-link {
  position: relative;
}
/* tạo hiệu ứng khi di chuột vào nav */
.navbar-nav .nav-link::after {
  content: "";
  height: 2px;
  left: 15%;
  bottom: 0;
  width: 0;
  position: absolute;
  background-color: tomato;
  transition: all 0.5s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 50%;
  transform: translateX(60%);
}
/* ảnh */
.img img {
  width: 100%;
  height: auto;
}
/* --------------------------Footer------------------------------------ */
.widget-ft {
  padding-top: 10%;
}
.sum_footer {
  color: #dfdfdf;
  font-size: 16px;
  margin: 27px 0 15px;
  font-weight: 500;
}
.title_menu {
  color: #4d8a54;
  margin-bottom: 10%;
}
.content_contact i {
  color: #4d8a54;
  margin-top: 20px;
}
.input-group input {
  border: none;
  border-radius: 30px;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  height: 60px;
  color: #000;
  padding: 0 160px 0 20px;
  float: left;
  width: 100%;
  font-size: 16px;
  z-index: 0;
}
.input-group-append button {
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  border-radius: 30px !important;
  background-color: #4d8a54;
  color: #fff;
  min-width: 151px;
  text-transform: uppercase;
  margin-left: -150px !important;
  z-index: 9 !important;
}
/* tạo hiệu ứng xuất hiện nút  */
.card .card-footer {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.card:hover .card-footer {
  opacity: 1;
}
.card {
  overflow: hidden;
}
/* tạo hịu ứng zom anh */
.card img {
  display: block;
  transition: all 0.3s ease-in-out;
}
.card:hover img {
  transform: scale(1.1);
}
/* css làm mất và xhien khi chuyển tab */
.content {
  display: none;
}
.content.active {
  display: block;
}

.tab_btn {
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 999px;
}
.tab_btn.active {
  background-color: #4d8a54;
  color: white;
}
.container-fluid.bg {
  background-color: #f9f9f9;
  padding: 50px 0;
}
/* responsive card */
@media (max-width: 767px) {
  .fw-bolder {
    font-size: 14px; /* Giảm kích thước font cho tiêu đề sản phẩm */
  }
  .btn-outline-dark {
    font-size: 12px; /* Giảm kích thước font của nút "Thêm vào giỏ hàng" */
    padding: 5px 1px; /* Giảm padding của nút */
  }
  .text-center span {
    font-size: 14px; /* Giảm kích thước font cho giá sản phẩm */
  }
}
@media (max-width: 992px) {
  .fw-bolder {
    font-size: 14px; /* Giảm kích thước font cho tiêu đề sản phẩm */
  }
  .btn-outline-dark {
    font-size: 12px; /* Giảm kích thước font của nút "Thêm vào giỏ hàng" */
    padding: 5px 1px; /* Giảm padding của nút */
  }
  .text-center span {
    font-size: 14px; /* Giảm kích thước font cho giá sản phẩm */
  }
}
