body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Header */
.header-right i {
  margin-left: 10px;
}
.header-right input {
  border-radius: 999px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Navigation */
.navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar-nav .dropdown-menu {
  min-width: 200px;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-nav .nav-item {
  text-align: center;
}
.navbar-nav .nav-link {
  position: relative;
}
.navbar-nav .nav-link::after {
  content: "";
  height: 2px;
  left: 15%;
  bottom: 0;
  width: 0;
  position: absolute;
  background-color: tomato;
  transition: all 0.5s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
  width: 50%;
  transform: translateX(60%);
}
/*--------------------------- Content -----------------*/
.thumb img {
  width: 100%;
  height: auto;
}
.thumb img,
.blogwp img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content_blog h3 {
  margin-top: 10px;
}
.asi {
  height: auto;
  width: 100%;
}
.nav-category .nav {
  display: flex;
  flex-direction: column;
}

.nav-category .nav-item {
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
}

.nav-category .nav-item a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-category .nav-item a:hover {
  background-color: #95d89d; /* Màu nền khi hover */
}
.btn-primary {
  padding: 5px 30px;
  background-color: #4d8a54;
  border-radius: 999px;
}
/* --------------------------Footer ---------------------------*/
.widget-ft {
  padding-top: 10%;
}
.sum_footer {
  color: #dfdfdf;
  font-size: 16px;
  margin: 27px 0 15px;
  font-weight: 500;
}
.title_menu {
  color: #4d8a54;
  margin-bottom: 10%;
}
.content_contact i {
  color: #4d8a54;
  margin-top: 20px;
}
.input-group input {
  border: none;
  border-radius: 30px;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  height: 60px;
  color: #000;
  padding: 0 160px 0 20px;
  float: left;
  width: 100%;
  font-size: 16px;
  z-index: 0;
}
.input-group-append button {
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  border-radius: 30px !important;
  background-color: #4d8a54;
  color: #fff;
  min-width: 151px;
  text-transform: uppercase;
  margin-left: -150px !important;
  z-index: 9 !important;
}
